* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    min-width: 1000px;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/images/header1.svg);
    background-size: cover;
}

.banner .container {
    max-width: 650px;
    text-align: center;
}

.banner .container h1 {
    font-size: 48px;
    color: #fff;
    font-family: 'Josefin Sans';
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 4.8px;
    text-transform: uppercase;
}

.banner .container p {
    font-family: 'Josefin Sans';
    font-size: 22px;
    text-align: center;
    color: #fff;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 6.8px;
}

.form {
    margin-top: 48px;
    max-width: 650px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.form .search {
    min-width: 500px;
    background: #FFFFFF;
    text-align: center;
}

.form .btn1 {
    min-width: 150px;
    background: #5474FD;
    color: #fff;
    border: 2px solid #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Aleo';
    transition: 0.5s;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.btn1:hover {
    letter-spacing: 6px;
    color: #220808;
    font-size: 20px;
}

.footer1 {
    top: 0;
    left: 0;
    width: 100%;
    min-height: 80px;
    background: #5474FD;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer1 .logo {
    font-family: 'Josefin Sans';
    color: #fff;
    font-weight: 700;
    font-weight: bold;
    font-size: 24px;
    margin-left: 21%;
    text-decoration: none;
}

.footer1 .navigation {
    font-family: 'Aleo';
    font-style: normal;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    display: flex;
    margin-right: 19%;
    text-transform: uppercase;
}

.footer1 .navigation li {
    list-style: none;
    min-width: 117px;
    padding: 11px;
    letter-spacing: 1px;
}

.footer1 .navigation li a {
    text-decoration: none;
    font-family: 'Aleo';
    font-size: 14px;
    color: #fff;
}

.banner1 {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/images/2.svg);
    background-size: cover;
}

.banner1 .artical {
    display: flex;
    flex-direction: column;
    max-width: 560px;
}

.banner1 .title {
    max-width: 288px;
    font-family: 'Aleo';
    font-size: 36px;
    color: #fff;
    align-items: center;
    text-align: left;
}

.banner1 .text1 {
    margin-top: 10%;
    font-family: 'Josefin Sans';
    font-size: 16px;
    letter-spacing: 1.6px;
    color: #E8E8E8;
    text-align: left;
}

.banner1 .text2 {
    margin-top: 3%;
    font-family: 'Josefin Sans';
    font-size: 16px;
    letter-spacing: 1.6px;
    color: #E8E8E8;
    text-align: left;
}

.banner1 .btn2 {
    margin-top: 10%;
    width: 228px;
    height: 63px;
    font-family: 'Aleo';
    font-size: 16px;
    letter-spacing: 1.2px;
    border: 0;
    color: #fff;
    background: #496BFE;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: ;
    grid-template-rows: ;
}

.grid-container .grid-item1 {}

.grid-container .grid-item2 {}

.footer2 {
    border-top: 3px solid;
    width: 100%;
    min-height: 337px;
    background: #333333;
    display: flex;
    align-items: center;
}

.footer2 .items {
    height: 163px;
    width: 353px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer2 .items img {
    height: 59px;
    width: 60px;
    background: #333333;
}

.footer2 .items a {
    margin-top: 38px;
    font-family: 'Aleo';
    font-size: 36px;
    line-height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #E8E8E8;
    height: 26px;
    width: 244px;
    text-decoration: none;
}