* {
    margin: 0;
    padding: 0;
    text-align: center;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/images/header1.svg);
    background-size: cover;
}

.banner .container {
    max-width: 650px;
    text-align: center;
}

.banner .container h1 {
    font-size: 48px;
    color: #fff;
    font-family: 'Josefin Sans';
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 4.8px;
    text-transform: uppercase;
}

.banner .container p {
    font-family: 'Josefin Sans';
    font-size: 22px;
    text-align: center;
    color: #fff;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 6.8px;
}

.form {
    margin-top: 48px;
    max-width: 650px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.form .search {
    min-width: 500px;
    background: #FFFFFF;
    text-align: center;
}

.form .btn {
    min-width: 150px;
    background: #5474FD;
    color: #fff;
    border: 2px solid #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s;
    text-align: center;
    font-family: 'Aleo';
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.btn:hover {
    letter-spacing: 6px;
}

.footer {
    top: 0;
    left: 0;
    width: 100%;
    min-height: 80px;
    background: #5474FD;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .logo {
    font-family: 'Josefin Sans';
    color: #fff;
    font-weight: 700;
    font-weight: bold;
    font-size: 24px;
    margin-left: 21%;
    text-decoration: none;
}

.footer .navigation {
    font-family: 'Aleo';
    font-style: normal;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    display: flex;
    margin-right: 19%;
    text-transform: uppercase;

}

.footer .navigation li {
    list-style: none;
    min-width: 117px;
    padding: 11px;



}

.footer .navigation li a {
    text-decoration: none;
    font-family: 'Aleo';
    font-size: 14px;
    color: #fff;
}